.header {
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  background-color: var(--mantine-color-body);
  padding-right: var(--mantine-spacing-md);
  padding-left: var(--mantine-spacing-md);
}

.link {
  border-radius: var(--mantine-radius-sm);
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  line-height: 1;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}

.search {
  @media (max-width: 600px) {
    display: none !important;
  }
}
