.user {
  transition: background-color 100ms ease;
  border-radius: var(--mantine-radius-sm);
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-dark-0));

  &:hover {
    background-color: light-dark(
      var(--mantine-color-white),
      var(--mantine-color-dark-8)
    );
  }
}

.userActive {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-8)
  );
}
