.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-position: center;
  background-size: cover;
  height: rem(440px);
}

.title {
  margin-top: var(--mantine-spacing-xs);
  color: var(--mantine-color-white);
  font-weight: 900;
  font-size: rem(32px);
  line-height: 1.2;
  font-family: 'Greycliff CF', var(--mantine-font-family);
}

.category {
  opacity: 0.7;
  color: var(--mantine-color-white);
  font-weight: 700;
  text-transform: uppercase;
}
