.slidebox {
  display: block;
  position: relative;
  bottom: 0%;
  opacity: 1;
  animation: slide 0.3s 1 linear backwards;
  background: #a00;
  width: 100px;
  height: 100px;

  /*
	animation-name: slide;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
 */
}

@keyframes slide {
  0% {
    bottom: 0%;
    opacity: 1;
  }

  99% {
    bottom: 99%;
    opacity: 1;
  }

  100% {
    display: none;
    bottom: 100%;
    opacity: 0;
  }
}

@keyframes slide {
  0% {
    bottom: 0%;
    opacity: 1;
  }

  99% {
    bottom: 99%;
    opacity: 1;
  }

  100% {
    display: none;
    bottom: 100%;
    opacity: 0;
  }
}
